*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: sans-serif;
}
html,body{
width: 100%;
min-height: 100vh;
}
nav{
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: 500;

}
.hero{
    margin: 30px 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    max-width: 55%;
}
.hero-text h1{
    font-size: 56px;
}
.hero-text h1 span{
    display: block;
}
.hero-text p{
    font-size: 21px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    font-size: 22px;
    font-weight: 600;
}
.btn{
    padding: 14px 28px;
    border: 2px solid #000;
    cursor: pointer;
}
.solid {
    background-color: black;
    color: white;
}

.hero-img{
    max-width: 40%;
}
.hero-img img{
    object-fit: cover;
    width: 100%;
    border-radius: 0px 0px 0px 120px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.3);
}
@media (max-width:900px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
        max-width: 100%;
    }
    .buttons{
        justify-content: center;
    }
    .hero-img{
        margin-top: 40px;
    }
    
}
@media (max-width:900px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
        max-width: 100%;
    }
    .buttons{
        justify-content: center;
    }
    .hero-img{
        margin-top: 40px;
    }
    
}
@media (max-width:900px) {
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
        max-width: 100%;
    }
    .buttons{
        justify-content: center;
    }
    .hero-img{
        margin-top: 40px;
    }
    
}