*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
nav{
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #000;
}
.hero{
    margin: 30px 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
    max-width: 54%;
}
.hero-text h1{
    font-size: 56px;
}
.hero-text h1 span{
    display: block;
}
.hero-text p{
    font-size: 22px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.btn{
    padding: 14px 28px;
    border: 2px solid #000;
}
.solid {
    background-color: black;
    color: white;
}

.hero-img{
    max-width: 40%;
}
.hero-img img{
    object-fit: cover;
    width: 100%;
}
